S9NJK6_0928/SzG_orarend.dtd

<!ELEMENT orarend (ora)+>
        <!ELEMENT ora (targy,idopont,helyszin,oktato,szak?)>
        <!ATTLIST ora
                id CDATA #REQUIRED
                tipus CDATA #REQUIRED>
        <!ELEMENT targy (#PCDATA)>
        <!ELEMENT idopont (#PCDATA)>
        <!ATTLIST idopont
                ig CDATA #REQUIRED
                nap CDATA #REQUIRED
                tol CDATA #REQUIRED>
        <!ELEMENT helyszin (#PCDATA)>
        <!ELEMENT oktato (#PCDATA)>
        <!ELEMENT szak (#PCDATA)>
