S9NJK6_0928/SzG_konyv.dtd

 <!ELEMENT konyvek (konyv*)>
            <!ELEMENT konyv (cim,kiadasev,kiado,szerzo+,absztrakt?)>
                <!ATTLIST konyv kkod ID #REQUIRED>
                <!ELEMENT cim (#PCDATA)>
                <!ELEMENT kiadasev (#PCDATA)>
                <!ELEMENT kiado (#PCDATA)>
                <!ELEMENT szerzo (#PCDATA)>
                <!ELEMENT absztrakt (#PCDATA)>

