S9NJK6_1012/SzG_nevjegykartya.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
    <xs:simpleType name="iranyitoszamType">
        <xs:restriction base="xs:integer">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>

<xs:complexType name="cim">
    <xs:sequence>
        <xs:element name="iranyitoszam" type="iranyitoszamType"/>
        <xs:element name="varos" type="xs:string"/>
        <xs:element name="utca" type="xs:string"/>
        <xs:element name="hazszam" type="xs:integer"/>
    </xs:sequence>
</xs:complexType>



</xs:schema>